[submodule "Spigot-Server"]
	path = Spigot-Server
	url = git@github.com:copypastel/spigot-craftbukkit.git
	branch = dev
[submodule "Spigot-API"]
	path = Spigot-API
	url = git@github.com:copypastel/spigot-bukkit.git
	branch = dev
