# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/

# other stuff
Spigot-API
Spigot-Server
Bukkit
CraftBukkit

# the goal of the jetbrains ignore section below is to exclude basically everything 
# except for runConfigurations. -sconover

### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

*.iml

.idea/.name
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml

.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.idea/gradle.xml
.idea/libraries

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
